@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Forum');
@import url('https://fonts.googleapis.com/css?family=Alice&subset=cyrillic,cyrillic-ext');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(assets/images/main_background.png);

}
a {
  text-decoration: none; 
  color: #ffffff; 
  font-family: 'Forum', cursive;
  
 }
 a:visited {
  color: #ffffff; 
  text-decoration:none;
  font-family: 'Forum', cursive;
  
 }
 a:active {
  color: #ffff00; 
  text-decoration:none;
  font-family: 'Forum', cursive;
  
 }
 a:hover {
  color: #ffff00; 
  text-decoration:none;
  font-family: 'Forum', cursive;
  
 }